{% extends "layout.html" %}


    {% block title %}
        <title>book.html</title>
    {% endblock %}


    {% block style %}
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }

        </style>
    {% endblock %}


    {% block navbarTitle %}
        <h5>{{ username }}</h5>
    {% endblock %}

    
    {% block url %}
        login.html> book.html
    {% endblock %}


    {% block heading %}  
        <h2>{{ error }}</h2>
    {% endblock %}


    {% block body %}
    <div class="container">
        <div class="bookdbsearch">
            <div class="row">
                <h4>search book</h4>
            </div>
        </div>

        <div class="bookdbtable">
                <table style="width:100%">
                        <header>
                                <th>Isbn No</th>
                                <th>Title</th> 
                                <th>Author</th>
                                <th>Year</th>
                        </header>
                        {% for b in books %}
                        <tr>
                            <td><a href="{{ url_for('givereview',book_id=b.book_id) }}">{{ b.isbn }}</a></td>
                            <td>{{b.title}}</td>
                            <td>{{b.author}}</td>
                            <td>{{b.years}}</td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
        
    </div>
    {% endblock %}


