{% extends "layout.html" %}


    {% block title %}
        <title>book.html</title>
    {% endblock %}


    {% block style %}
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }

        </style>
    {% endblock %}


    {% block navbarTitle %}
        <h5>{{ username }}</h5>
    {% endblock %}

    
    {% block url %}
        login.html> book.html
    {% endblock %}


    {% block heading %} 
    <h2>{{ error }}</h2>
    <form action="{{ url_for('index') }}" class="form-group inline" method="post">
                <button type="submit" class="btn btn-primary float-right">Logout</button>
                <a class="btn btn-default float-right" href="{{ url_for('viewreview') }}">view review</a>
            </form> 
    {% endblock %}


    {% block body %}
    <div class="container">
        <div class="bookdbsearch">
            <div class="row">
                    <form action="#" method="POST">
                        <div class="form-group form-inline">
                            <label class="control-label" for="pwd">Search book here: </label>
                            <input type="text" class="form-control" type="text" name="bsearch" placeholder="Enter any one book title, author name, isbn" required>
                            <button type="submit" class="btn btn-default">search</button>
                        </div>
                    </form>
            </div>
        </div>
        <hr/>
        <div class="bookdbtable">
                <table style="width:100%">
                        <header>
                                <th>Isbn No</th>
                                <th>Title</th> 
                                <th>Author</th>
                                <th>Year</th>
                        </header>
                        {% for b in books %}
                        <tr>
                            <td><a href="{{ url_for('givereview',book_id=b.book_id) }}">{{ b.isbn }}</a></td>
                            <td>{{b.title}}</td>
                            <td>{{b.author}}</td>
                            <td>{{b.years}}</td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
        
    </div>
    {% endblock %}


