<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
        {% endblock %}
        

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- Custom CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
        
        {% block style %}
        {% endblock %}
        
    
    </head>
    <body>

        
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <ul>
                        <li><img src="{{ url_for('static', filename='logo.png') }}" alt="logo" ></li>
                        <li>BOOK REVIEW</li>
                    </ul>               
                </a>
                <div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">{% block navbarTitle %}{% endblock %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- header -->
        <header class="bg-primary text-white">
                <div class="container">
                  <p><a href="{{ url_for('index') }}" style="color: white;">Home></a> {% block url %}{% endblock %}</p>
                </div>
        </header>
      

        <!-- Begin page content -->
        <div class="container">
            {% block heading %}
            {% endblock %}
            
            <!-- Page Content -->
            {% block body %}    
            {% endblock %}
        </div>
      


        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">

            <div class="container">
            </div>

            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="{{ url_for('index') }}">Book Review</a>
            </div>    
        </footer>




        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>


