{% extends "layout.html" %}


    {% block title %}
        <title>viewreview.html</title>
    {% endblock %}


    {% block style %}
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
        </style>
    {% endblock %}


    {% block navbarTitle %}
        <h5>{{ username }}</h5>
    {% endblock %}

    
    {% block url %}
        login.html> book.html> givereview.html> viewreview.html
    {% endblock %}


    {% block heading %}  
        <h2>{{ error }}</h2>
    {% endblock %}


    {% block body %}
    <div class="container">
        <div class="reviewtable">
            <p><strong>book name</strong>, publisher</p>
                <table  style="width:100%">
                        <tr>
                                <th>Stu Id</th>
                                <th>Book Id</th>
                                <th>Scale</th>
                                <th>Review</th>
                        </tr>
                        
                        {% for x in review %}
                        <tr>
                            <td>{{ x.student }}</td>
                            <td>{{ x.book }}</td>
                            <td>{{ x.scale }}</td>
                            <td>{{ x.texts }}</td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
    </div>
    {% endblock %}


